.progress-bar {
  animation-duration: 3s;
  .top-bar {
    width: 100%;
    background-color: var(--breadcrumbs-background);
    height: 50px;
    display: flex;
    .spacer {
      top: 50%;
      left: 0;
      width: 90%;
      background-color: grey;
      height: 3px;
      opacity: 0.5;
      background: linear-gradient(
        to right,
        var(--primary-base-color) 50%,
        grey 50%
      );
      transition: all 1s ease-out;
      background-position: right bottom;
      background-size: 200% 100%;
    }

    .spacer.active {
      background-position: left bottom;
      opacity: 1;
    }

    .circle-container {
      vertical-align: middle;
      text-align: center;
      padding: 0 10px;
      .circle {
        color: black;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        top: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        background: linear-gradient(
          to right,
          var(--primary-base-color) 50%,
          grey 50%
        );

        transition: all 1s ease-out;
        transition-delay: 1s;
        background-position: right bottom;
        background-size: 200% 100%;
      }
      .circle.active {
        background-position: left bottom;
        opacity: 1;
      }
    }
  }
  .bottom-bar {
    width: 100%;
    background-color: var(--breadcrumbs-background);
    height: 50px;
    display: flex;
    justify-content: space-between;
    .spacer {
      width: 100%;
    }
    .title {
      opacity: 0.5;
      transition: all 1s ease-out;
      transition-delay: 1s;
    }
    .title.active {
      opacity: 1;
    }
  }
}
